<div class="container10">
<div class ="but">

<div class="box11">

<div class=row11>
  <%= render @post %> 
 </div>
  </div>
  <div class ="but1">
<% if @post.user == current_user %> 
     
    <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-primary" %>
    <%= link_to "Back posts", posts_path, class: "btn btn-danger"%> 
    <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-success" %> 
    <% else %> 
    <%= link_to "Back to posts", posts_path %> 
  <% end %> 
  </div>
 </div>
<div class="box10">



 
 
<div class="container11">
  <%= render 'comments/form',  
    post: @post,  
    comment: @post.comments.build, 
    submit_label: "Reply" %> 
  <% @comments.each do |comment| %> 
    <%= render 'comments/comment',  
    post: @post,  
    comment: comment %> 
  <% end %> 
 
</div>
 
  
</div>

</div>


 
 
